@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --glass: rgba(255,255,255,0.06);
}

body{
  @apply bg-gradient-to-br from-gray-900 via-indigo-900 to-slate-900 text-gray-100 font-sans;
}

.glass{
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255,255,255,0.06);
}
